body {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

#add-book-button {
    background-color: #0096FF;
    border: none;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    height: 30px;
}

.remove-book-button {
    background-color: #0096FF;
    border: none;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    height: 30px;
}

.toggle-read-button {
    color: #0096FF;
    border: 2px solid #0096FF;
    border-radius: 8px;
    padding: 6px;
    height: 30px;
}

/*display: grid;
grid-template-rows: repeat(5, 1fr)*/

form {
    border-radius: 15px;
    background-color: #E5E4E2;
    padding: 15px;
    display: none;
}

fieldset {
    border: none;
}

.fieldset-flex-col {
    display: flex;
    flex-direction: column;
}

.fieldset-flex-row {
    display: flex;
    align-items: center;
}

input {
    border: none;
    height: 25px;
    padding-left: 5px;
}

#submit-button {
    background-color: #0096FF;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.library-card {
    text-align: center;
    background-color: #E5E4E2;
    border-radius: 15px;
    padding: 15px;
}

